html{
    background-color: black;
    
}

.cal{
    width: 90vw;
    max-width: 400px;
    height: 80vh;
    border: 1px solid black;
    margin: auto;
    position: relative;
    top: 50px;
    display: grid;
    gap: 4px;
    
}

.form-grp{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;

}

button{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 2.5rem;
    size-adjust: 10px;
    border: none;
    color: aliceblue;
    background-color: rgb(85, 84, 84);
}

button:hover{
    background-color: rgb(114, 113, 113);;
}

input{
    width: 95%;
    height: 60px;
    text-align: end;
    background-color: black;
    color: aliceblue;
    outline: none;
    border: none;
    font-size: 4rem;
    height: 60px;
    padding-right: 50px;
}

.grey{
    background-color: rgb(128, 126, 126);
}

.grey:hover{
    background-color: rgb(153, 151, 151);   
}
.orang{
    background-color: orange;
}

.orang:hover{
    background-color: rgb(245, 188, 80);
}

/* @media (max-width: 480px) {
    .cal {
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    button {
        font-size: 1.5rem;
    }

    input {
        font-size: 2rem;
        height: 60px;
    }
} */
